* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    float: left;
    margin: 15px 20px 0 15px;
}

h1 {
    margin: 15px 0 15px 0;
}

.primeiroBotao {
    margin: 15px 0 15px 0;
}

.segundoBotao {
    margin-bottom: 15px;
    
}

#btnAdicionar {
    margin-right: 10px;
    padding: 5px;
}

#btnListar {
    margin-right: 10px;
    padding: 5px;
}

#btnFiltrar {
    padding: 5px;
    margin-bottom: 15px;
}