* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    float: left;
    margin-top: 50px;
}

img {
    width: 500px;
    float: left;
    margin: 50px;
}

h1 {
    
}

.oculta {
    display: none;
}