* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    display: flex;
}

img {
    width: 500px;
    margin: 30px 20px 0 30px;
}

.container {
    margin-top: 30px;
}

#inSenha {
    margin: 10px 0 10px 0;
}

